<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @name %>様、Bookersへようこそ。</h1>
      <p>
      Bookersへのサインアップが成功しました。
      your username is: <%= @name %>.<br>
    </p>
    <p>ご入会ありがとうございます。どうぞお楽しみくださいませ。</p>
  </body>
</html>